body{
    background:white;
    color: black;
}
a{
    color:orange;
    font-size: 1.4em;
}
table{
    border: 3px solid #060;
    width: 50%;
    font-size: 1.4em;
}
td{
    text-align: center;
}
table a{
    font-size: 1.2em;
    color: black;
}
th{
    color: #060;
}
h1{
    color: #060;
    
}
h2{
    color:#A400A4;
    margin-top: 0.4%;
}
.buscador{
    border-radius: 10px;
    margin-left: 12%;
    margin-right: 2%;
    
}
.contenedor2{
    display: inline-flex;
}
.buscador2{
    display: inline-flex;
}
header{
    display: inline-flex;
}
.menuPrincipal{
    width: 300px;
    
}
.formulario{
    padding-right: 20%;
    padding-left: 20%;   
    margin-top: 1.3%;
}
.cerrarSesion{
    width: 300px;
}